.. list-table::
   :widths: 15 20 15 50
   :header-rows: 1

   * - Version
     - Released
     - Status
     - End of Life (EOL)

{% for row in data['data'] %}
   * - {{ row['version'] }}
     - {{ row['released'] }}
     - {{ row['status'] }}
     - {{ row['end_of_life'] }}
{% endfor %}
