/* Override theme styles */

.topic-box--product p {
    margin-bottom: 0;
}

.landing__content .alert a {
    color: #fff;
}


.side-nav__title,
.landing__content .alert{
    display: none;
}

.hero__img {
    top: -20px;
}


@media screen and (min-width: 460px) {
    .hero__img {
        top: 20px;
    }    
}

@media screen and (min-width: 640px) {
    .hero__title {
        max-width: 550px;
    }

    
}

@media screen and (min-width: 1020px) {

    .side-nav__title,
    .landing__content .alert {
        display: flex;
    }
   
}
